body{
   background-color: #000;
   color:#fff
}

.nav-ul{
   display: flex;
   justify-content: flex-end;
}

.nav-ul>li{
   list-style: none;
   margin: 1rem;

}
.boton{
color: rgb(201, 201, 193);
text-decoration: none;
}
.boton:hover{
text-decoration: underline;
text-decoration-color: #fff;
text-decoration-style:wavy;

}

.principal{
   width: 1024;
   display: flex;
   flex-wrap: wrap;
   justify-content: space-around;
   align-items: flex-start;
}

.caption{
   width: 100%;
   text-align: center;
}

.p{
   line-height: 1.5;
   margin: 1rem;
   text-align: justify;
   width: 70%;
}

.contentImg{
   width: 20%;
   height: 20%;
   border: 1px solid red;
}
.img{
width: 100%;
   object-fit: contain;

}